body {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    display: flex;
    justify-content: center;
}
/* 1em = 15px */
.container {
    margin-top: .66666667em;
}

h1,
strong,
a {
    color: #6679DF;
}

ul {
    list-style-type: none;
    padding: 0;
}

dl {
    margin: 0;
}

dl dt {
    font-weight: bold;
    font-size: 1.06666667em;
}


/* css for header */

header {
    display: flex;
}

.title p {
    margin-top: 0;
    margin-bottom: .33333333em;
}

address {
    font-style: normal;
    margin-right: 2.66666667em;;
}

.contact li span {
    display: inline-block;
    width: 5.33333333em;
    text-align: right;
}

/* end header */


/* css for content */

.content {
    display: flex;
    margin-top: .66666667em;
}

.content > article > section {
    padding: .5em 0;
}

h2 {
    font-size: 1.33333333em;
    padding-bottom: .33333333em;
    border-bottom: 1px solid black;
    margin: 0;
}


/* end content */

.circle {
    display: inline-block;
    width: .53333333em;
    height: .53333333em;
    margin: 0 .66666667em;
    background: black;
    border-radius: 100%;
}


/* css for project */

.project dl dt {
    margin-bottom: .2em;
}

.project dl dd {
    margin-left: .26666666em;
    padding-left: .9em;
    border-left: .06666667em solid black;
}

.project .circle {
    margin-left: 0;
}

.project dl dd:first-child {
     padding-top: .66666667em;
}

.project dl dd:first-child span {
    display: inline-block;
    width: 6em;
    margin-left: 1em;
    border-radius: .75em;
    line-height: 1.5em;
    font-size: .8em;
    background-color: #E9ECFB;
    color: #6679DF;
    text-align: center;
}

.project dl dd:last-child {
    padding-bottom: .66666667em;
}

.key-point {
    display: inline-block;
    margin: .33333333em 0 .6em;
    background: #6679DF;
    padding: .13333333em .33333333em;
    font-size: .93333333em;
    color: white;
}

.project dl .label {
    background-color: rgb(233, 236, 251);
    color: rgb(102, 121, 223);
    font-size: .8em;
    font-weight: normal;
    text-align: center;
    margin-left: 1em;
    padding: 0 0.5em;
    line-height: 1.5em;
    border-radius: .75em;
}

/* end project */


/* css for work */

.work-year,.work-content {
    display: inline-block;
    margin-left: .26666666em;
    padding-left: .9em;
    border-left: .06666667em solid black;
}

.work .circle {
    margin-left: 0em;
}

.work-company {
    font-weight: bold;
    margin-bottom: .2em;
    display: inline-block;
}


/* end work */


.skill-item dd:before,
.award-item li:before,
.other-item li:before,
.project dl ul li:before {
    content: "√";
    display: inline-block;
    width: .8em;
    padding-right: .33333333em;
}


/* css for skill */

.skill-item dd {
    margin-left: 0;
}

.skill-item dt {
    margin: .33333333em 0;
}

.skill-item {
    margin-bottom: 1em;
}

.skill-item:last-child {
    margin-bottom: 0;
}

/* end skill */


/* css for footer */

footer {
    margin: 2em 0;
    font-size: .8em;
    text-align: center;
}

/* end footer */


/* css for media */

@media screen and (min-width: 900px) {
    .container {
        width: 900px;
    }
    header {
        justify-content: space-between;
    }
    .title {
        text-align: left;
    }
    .content > article {
        width: 27em;
    }
    .content > article:first-child {
        padding-right: 3em;
    }
    .content > article:last-child {
        padding-left: 3em;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 95%;
    }
    .content > article {
        width: 100%;
    }
    header,
    .content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .title {
        text-align: center;
    }
    header {
        align-items: center;
    }
    .content > article {
        padding: 0;
    }
    address {
        font-size: .94em;
        margin-right: 0;
    }
}


/* end media */